body {
  font-family: "Inter", sans-serif;
}

/* Cards */

.work-cards {
  border-radius: 8px;
  border: 1px solid var(--form-border-color);
  background-color: #2e2e4a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-left: 8%;
  margin-right: 8%;
  /* z-index: 10000; */
}

.animation-left {
  animation-name: slide-in-left;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-placeholder {
  /* width: 100%; */
  height: 256px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}

.img-card-cover {
  width: 100%;
  height: 256px;
  border-radius: 8px 8px 0 0;
  object-fit: contain;
}

.work-desc {
  background-color: var(--dark-background-color);
  border-radius: 8px;
  width: 100%;
  height: 224px;
  align-self: flex-end;
}

.work-desc .languages {
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}

.work-cards .work-desc p {
  margin: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--white-color);
}

.work-cards {
}

.work-desc .languages li {
  list-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 12px;
  background-color: #3c3c5c;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--green-color);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 29px;
}

.button-container button {
  padding: 12px;
  border: none;
  color: var(--white-color);
  background-color: var(--green-color);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: var(--button-hover-color);
  box-shadow: 0 3px 5px rgba(54, 179, 127, 0.4);
}

.button:active {
  background-color: var(--button-active-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  transform: translate(4px, 4px);
}

/* Ends */

.see-project-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  z-index: 3000;
  background-color: #2e2e4a;
  width: 85vw;
  max-width: 90%;
  padding: 15px;
  height: 90vh;
  transition: 200ms ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}

.close-container {
  position: fixed;
  top: 23px;
  right: 7vw;
}

.close-container .close-button {
  cursor: pointer;
  font-size: 35px;
  color: var(--dark-background-color);
  outline: none;
  border-radius: 5px;
  padding: 0 8px;
  background-color: unset;
  border: none;
}

.see-project-container #project-img {
  width: 100%;
  border-radius: 8px;
}

.project-title-container {
  padding-top: 10px;
}

.project-title-container h2 {
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  width: 57%;
  color: var(--white-color);
}

.see-live-container {
  position: absolute;
  bottom: 2vh;
  left: 15px;
  display: flex;
  width: 31%;
  height: 20px;
  justify-content: space-around;
  align-items: center;
  background-color: var(--green-color);
  padding: 12px 16px;
  border-radius: 5px;
}

.project-title-container .see-live-container a {
  text-decoration: none;
  padding-right: 5px;
  font-size: 17px;
  font-weight: 500;
  color: var(--white-color);
}

.see-project-container .project-title-container .see-live-container img {
  padding-top: 4px;
  width: 24px;
}

.see-source-container {
  position: absolute;
  bottom: 2vh;
  right: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 38%;
  height: 21px;
  padding: 12px 16px;
  border-radius: 5px;
  background-color: var(--green-color);
}

.project-title-container .see-source-container a {
  text-decoration: none;
  padding-right: 8px;
  font-size: 17px;
  font-weight: 500;
  color: var(--white-color);
}

.see-project-container .project-title-container .see-source-container img {
  padding-top: 3px;
  width: 19px;
}

.project-tech {
  display: flex;
  margin-top: 10px;
  padding-left: 0;
}

.see-project-container .project-tech li {
  list-style: none;
  margin-right: 5px;
  padding: 8px 12px;
  background-color: #3c3c5c;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 600;
  color: var(--green-color);
}

.project-tech li:nth-child(4),
.project-tech li:nth-child(5),
.project-tech li:nth-child(6) {
  display: none;
}

.project-desc {
  margin-top: 10px;
  font-size: 12px;
  line-height: 20px;
  color: var(--content-text-color);
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 26, 46, 0.8);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.my-projects {
  width: 100%;
  margin-top: 16.53%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 480px);
  row-gap: 40px;
  align-items: center;
  justify-items: center;
}

@media screen and (min-width: 1180px) {
  body {
    width: 100%;
  }

  .animation-left:hover {
    transform: translate(8px, 8px);
  }

  .see-project-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 10;
    background-color: #2e2e4a;
    width: 75vw;
    max-width: 90%;
    padding: 12px;
    height: 92vh;
    transition: 200ms ease-in-out;
  }

  .close-container {
    position: unset;
    display: flex;
    justify-content: flex-end;
  }

  .close-container .close-button {
    cursor: pointer;
    font-size: 25px;
    color: var(--content-text-color);
    outline: none;
    border-radius: 5px;
    background-color: #3c3c5c;
    border: none;
  }

  .see-project-container #project-img {
    padding-top: 14px;
    width: 100%;
    height: 60%;
    aspect-ratio: 10 / 2;
    object-fit: cover;
  }

  .project-title-container {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .project-title-container h2 {
    text-align: left;
    width: 57%;
    font-weight: 600;
    font-size: 32px;
    line-height: 138%;
    color: var(--white-color);
  }

  .see-live-container {
    position: unset;
    display: flex;
    width: 13%;
    height: 20.5px;
    margin-left: 40px;
    align-items: center;
    background-color: var(--green-color);
    padding: 6px 7px;
    border-radius: 8px;
  }

  .see-project-container .project-title-container .see-live-container img {
    padding-top: 4px;
    width: 15px;
  }

  .see-source-container {
    position: unset;
    display: flex;
    width: 15%;
    height: 14px;
    padding: 9.4px 7px;
    border-radius: 8px;
    background-color: var(--green-color);
  }

  .project-title-container .see-live-container a,
  .project-title-container .see-source-container a {
    text-decoration: none;
    padding-right: 5px;
    font-size: 10px;
    color: var(--white-color);
  }

  .see-project-container .project-title-container .see-source-container img {
    width: 11px;
  }

  .project-tech {
    display: flex;
    margin-top: 10px;
  }

  .project-tech li {
    list-style: none;
    margin-right: 5px;
    padding: 5px 8px;
    background-color: #3c3c5c;
    border-radius: 5px;
    font-size: 9px;
    font-weight: 600;
    color: var(--green-color);
  }

  .project-tech li:nth-child(4),
  .project-tech li:nth-child(5),
  .project-tech li:nth-child(6) {
    display: block;
  }

  .project-desc {
    margin-top: 10px;
    color: var(--content-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  .overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(26, 26, 46, 0.8);
    pointer-events: none;
    transition: 200ms ease-in-out;
  }

  .overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  .my-projects {
    width: 100%;
    margin-top: 52px;
    padding-bottom: 52px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 474px);
    gap: 32px 24px;
    justify-content: center;
  }
}

@media screen and (max-width: 1179px) and (min-width: 870px) {
  .my-projects {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 480px);
    row-gap: 40px;
    column-gap: 5%;
    /* overflow-x: hidden; */
  }
}

@media screen and (min-width: 870px) {
  .see-project-container {
    padding: 15px;
  }

  .see-project-container #project-img {
    padding-top: 14px;
  }

  .see-live-container {
    width: 10%;
    margin-left: 150px;
  }

  .see-source-container {
    width: 12%;
  }

  .work-cards {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
}
